.heroSection {
  height: 30rem;
  background-image: url("../assets/hero-car-image.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .heroSection {
    height: 20rem;
  }
}

.overlay {
  background-color: rgba(0, 35, 51, 0.55);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  width: 40rem;
  max-width: 90%;
}

.exploreDeals {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0rem;
}

.searchDiv {
  width: 100%;
  background-color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.searchBar {
  height: 100%;
  width: 80%;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0;
  line-height: 1rem;
  padding: 0 0.5rem;
}

.searchButton {
  width: 20%;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}

.searchButtonText {
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.searchButtonText:hover {
  color: var(--light-blue);
}

.locationDiv {
  width: 100%;
  background-color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.locationContent {
  display: flex;
  align-items: center;
  width: 80%;
}

.locationIcon {
  margin-left: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}

.homeLocation {
  margin-bottom: 0;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  /* color: white; */
}

.locationButton {
  width: 20%;
  height: 100%;
  padding: 0.25rem;
  background-color: var(--light-grey);
  border: none;
  outline: none;
}

.locationButtonText {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
}

.section {
  margin-top: 3rem;
}

.firstDealBanner {
  background-color: var(--primary-color);
  min-height: 20rem;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;
}

.bannerTextBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bannerWhiteText {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.bannerHighlightedText {
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary-color);
  line-height: 1;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.seeMoreBox {
  height: 100%;
  display: flex;
  align-items: end;
}

.bannerSeeMore {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  margin-bottom: 0;
  line-height: 1;
  text-transform: capitalize;
}

.bannerImg {
  position: absolute;
  top: 5%;
  left: 55%;
  object-fit: cover;
  height: 25rem;
}

@media screen and (max-width: 992px) {
  .bannerImg {
    display: none;
  }
}
