section {
  height: 40rem;
  background-image: url("../assets/authPageImage.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: -3rem;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 35, 51, 0.5);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 5rem;
}

form {
  width: 50%;
}

.container {
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}

.inputGroup > label {
  display: flex;
  align-items: center;
}

.inputGroup > input {
  border: none;
  outline: none;
  background-color: var(--light-blue);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: var(--primary-color);
}

.submitButton {
  width: 100%;
  background-color: var(--primary-color);
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.buttonText {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.bottomText{
    margin-bottom: 0;
}