.brandCarousel {
  position: relative;
  margin-bottom: 2rem;
}

.brandCarouselBox {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.brandCarouselLogoDiv {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.brandCarouselLogo {
  object-fit: contain;
  max-height: 100%;
}

.brandCarouselName {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.brandCarouselPrev,
.brandCarouselNext {
  position: absolute;
  top: 125px;
  cursor: pointer;
}

.brandCarouselPrev {
  left: -120px;
}

.brandCarouselNext {
  right: -120px;
}

.brandCarousel .slick-dots {
  bottom: -3rem !important;
}

.brandCarousel .slick-dots li button {
  transform: scale(2.4);
}

@media (max-width: 1799px) {
  .brandCarouselPrev {
    left: -100px;
  }
  .brandCarouselNext {
    right: -100px;
  }
}

@media (max-width: 991px) {
  .brandCarouselPrev {
    left: -90px;
  }
  .brandCarouselNext {
    right: -90px;
  }
}

@media (max-width: 575px) {
  .brandCarouselPrev,
  .brandCarouselNext {
    display: none;
  }
}
