.vehicleCarouselMainPhotoDiv {
  width: 100%;
  height: 30rem;
  border: 1px solid red;
}

.vehicleCarouselMainPhoto {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.slick-dots .slick-thumb li button{
    bottom: -10rem;
}

.vehicleCarouselThumbnailDiv {
  width: 3rem;
  height: 3rem;
  /* overflow: hidden; */
  border: 1px solid red;
}

.vehicleCarouselThumbnailPhoto {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
